* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F5F5F5 !important;
}

.wrapper__all {
    margin-top: 50px !important;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

.header {
    position: relative;
    max-width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.heading {
    text-align: center;
    font-size: 100px;
    color: rgba(175, 47, 47, 0.15);
}

.todo__input {
    outline: none;
    width: 100%;
    padding: 16px 16px 16px 65px;
    border: none;
    box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
    margin: 0;
    width: 100%;
    font-size: 26px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    box-sizing: border-box;
    border-bottom: 1px solid #777777;
}
.text__before::before {
    content: 'â¯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

.text__before {
    position: absolute;
    width: 60px;
    height: 34px;
    font-size: 0;
    left: 0px;
    top: 15px;
    transform: rotate(90deg);
}

.item__inpout {
    padding: 0;
    list-style: none;
}
.footer__wrap {
    padding: 0 15px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foter-text {
    margin: 0;
}
.footer__btn {
    border: 1px solid #b1b1b1;
    margin: 0 7px 0 7px;
    border-radius: 4px;
    background-color: transparent;
}

.btn__clear {
    border: none;
    background-color: transparent;
}
.btn-delete {
    position: absolute;
    right: 2%;
    background-color: transparent ;
    border: none;
    font-size: 30px;
    color: indianred;
    display: none;
}
.todolist {
    padding: 0;
}
.wrap-item {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #777777;
}
.todos-items {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.todos-items:hover > .btn-delete {
    display: block;
}
.input-check {
    width: 20px;
    height: 20px;
    margin-right: 30px;
}
.input-check:checked {
    color: red;
    background-color: red;
}
.buttons__flex {
    display: flex;
    align-items: center;
    width: 85%;
}
.btn__clear {
    display: none;
}
.buttons__flex:hover > .btn__clear {
    display: block;
}
/* @media only screen and (max-width: 440px) {
    .footer__btn {
        font-size:16px ;
        color: red;
    }
} */