* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F5F5F5 !important;
}

.wrapper__all {
    margin-top: 50px !important;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
}

.header {
    position: relative;
    max-width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.heading {
    text-align: center;
    font-size: 100px;
    color: rgba(175, 47, 47, 0.15);
}

.todo__input {
    outline: none;
    width: 100%;
    padding: 16px 16px 16px 65px;
    border: none;
    box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
    margin: 0;
    width: 100%;
    font-size: 26px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    box-sizing: border-box;
}
.chechkbox {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 5px;
}
.todo__btn {
    margin-left: auto;
    background-color: #ffffff;
    border: none;
    color: rgb(170, 55, 10);
    font-weight: 700;
    display: none;
}

.chechkbox:hover > .todo__btn {
    display: block;
}
.text__before::before {
    content: 'â¯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

.text__before {
    position: absolute;
    width: 60px;
    height: 34px;
    font-size: 0;
    left: 0px;
    top: 15px;
    transform: rotate(90deg);
}

.todo__list {
    border-top: 1px solid rgba(119, 119, 119, 0.3);
    list-style: none;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.label {
    cursor: pointer;
    font-size: 22px;
    margin: 0;
    display: flex;
}

.label input {
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}
.input-text {
    margin: 0 20px;
}
.checkmark {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(119, 119, 119, 0.3);
    margin: 0;
}
.item__inpout {
    padding: 0;
    list-style: none;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label input:checked~.checkmark:after {
    display: block;
}
.label .checkmark:after {
    left: 13px;
    top: 7px;
    width: 9px;
    height: 16px;
    border: solid #5DC2AF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.footer__wrap {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foter-text {
    margin: 0;
}
.footer__btn {
    border: 1px solid #F5F5F5;
    background-color: transparent;
}

.btn__clear {
    border: none;
    background-color: transparent;
}
.btn-delete {
    position: absolute;
    right: 2%;
    background-color: transparent ;
    border: none;
    font-size: 30px;
    color: indianred;
    display: none;
}
.todolist {
    padding: 0;
}
.wrap-item {
    padding: 10px;
    border-top: 1px solid #777777;
}
.todos-items {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
.todos-items:hover > .btn-delete {
    display: block;
}
.input-check {
    width: 20px;
    height: 20px;
    margin-right: 30px;
}